/* Basic reset for margin and padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #e3e2df;
    color: #191414;
    text-align: center;
}

.mainpage {
    text-align: center;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-tracks {
    margin: 10px;
}

.top-artists {
    margin: 10px;
}

h1 {
    color: #EE4C7C;
    text-align: center;
}

nav ul {
    background: #E3AFBC;
    list-style-type: none;
    padding: 5px;
    border-radius: 10px;
}

nav ul a {
    margin: 100px;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 20px;
}

.multicol {
    columns: 2;
}

li {
    padding: 10px;
    margin: 10px;
    background: #9a1750;
    color: #f0f0f0;
    max-width: 400px;
    margin: 5px;
    border-radius: 10px;
}

a {
    padding: 10px;
    background-color: #EE4C7C;
    border-radius: 5px;
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    background-color: #b3355b;
}

/* Add more styles as needed */