/* Basic reset for margin and padding */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
    margin: 0;
    background-color: #121212;
    color: #191414;
    text-align: center;
}

.mainpage {
    align-items: center;
    text-align: center;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top-tracks {
    margin: 10px;
}

.top-artists {
    margin: 10px;
}

h1 {
    color: 	#b3b3b3;
    text-align: center;
}


ul {
    display: inline-block;
    list-style-type: none;
    margin-bottom: 10px;
    width: 100%;
}

.multicol {
    columns: 2;
}

li {
    padding: 10px;
    background: #1db954;
    color: #f0f0f0;
    min-width: min-content;
    max-width: 100%;
    margin: 5px;
    border-radius: 2%;
}


/* Add more styles as needed */