<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Spotify Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="mainpage">
        <h1>Welcome to Spotify Stats</h1>
        <p>
            <a href="/login">Login with Spotify</a> to see your top tracks and artists, and get personalized recommendations.
        </p>
    </div>
</body>
</html>
