<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top Tracks and Artists</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Top Tracks</h1>
    <ul>
        {% for track in tracks %}
            <li>{{ track.name }} by {{ track.artists[0].name }}</li>
        {% endfor %}
    </ul>

    <h1>Top Artists</h1>
    <ul>
        {% for artist in artists %}
            <li>{{ artist.name }}</li>
        {% endfor %}
    </ul>
    <li><a href="/recommended">Get Recommendations</a></li>
</body>
</html>
